@charset "utf-8";

/* 最初の画面の見出し */
#title {
    font-size: 30px;
}

/* メイン画像の調整 */
#mainVisual {
    width: 370px;
    margin: 30px auto;
}

#mainVisual img {
    width: 370px;
    height: 260px;
    border-radius: 10px;
    box-shadow: 0 0 10px #444444;
}


.icon {
    width: 100%;
}

/* 投稿一覧の写真の大きさ */
.post_img {
    width: 100px;
}

/* エラーメッセージ */
#errors {
    font-weight: bold;
    list-style: none;
}

/* 投稿番号のクリックを分かりやすくする(mypage_view.php) */
#id {
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
}

#id:hover {
    color: #fff;
    background: #008080;
    text-decoration: none;
}